@require 'nib'

.p-home
  position: absolute
  width: 100%
  display: flex

  > .menu
    flex: none
    height: 100%
    width: 240px
    position: fixed

  > .home
    flex: 1
    padding-left: 240px
