@require 'nib'
@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-home
  width: 100%
  background: $grey100

  > .body
    padding: 20px 60px

    > .title
      zp-font-headline()
      padding: 60px 0 20px

    > .content
      > .text
        max-width: 440px
        > .a
          color: $blueGrey500

        > .buttons
          padding-top: 20px
