@require 'nib'
@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-home
  background: $grey100

  > .title
    zp-font-headline()
    padding: 40px 60px

  > .content
    padding: 0 60px
    > .text
      max-width: 440px
      > .a
        color: $blueGrey500

      > .buttons
        padding-top: 20px
