@require 'nib'
@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-header
  > .stub
    height: 260px
    position: absolute

  > .header
    display: flex
    width: 100%
    height: 260px
    padding-left: 72px
    background: $teal500
    z-index: 1000

    > .title
      zp-font-display3()
      align-self: flex-end
      line-height: 80px
      padding-bottom: 60px
      color: $white

  &.is-mini
    > .stub
      position: relative
      height: 260px

    > .header
      zp-shadow-1()
      position: fixed
      height: 80px
      top: 0

      > .title
        zp-font-display1()
        padding-bottom: 0
        color: $white
