@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-header
  > .bg
    position: fixed
    z-index: 1000
    top: 0
    width: 100%
    height: 56px
    background: $teal500

  > .stub
    height: 128px
    position: absolute

  > .header
    display: flex
    height: 128px
    background: $teal500
    z-index: 1001
    position: relative

    > .hamburger
      position: fixed
      top: 0
      padding: 4px
      z-index: 1010

    > .title
      zp-font-headline()
      align-self: flex-end
      line-height: 56px
      color: $white
      padding-bottom: 10px
      transition: font-size 0.2s
      padding-left: 72px

  &.is-hamburger-hidden
    > .header
      > .hamburger
        display: none

  &.is-mini
    > .header
      > .title
        color: $white
        position: fixed
        top: 0

  &.is-fixed
    > .stub
      position: relative

    > .header
      zp-shadow-1()
      width: 100%
      position: fixed
      height: 56px
      top: 0

  @media only screen and (min-width: 760px)
    > .stub
      height: 260px
      position: absolute

    > .header
      height: 260px

      > .title
        zp-font-display3()
        color: $white
        padding-bottom: 60px

    &.is-mini
      > .header
        > .title
          zp-font-headline()
          color: $white

    &.is-fixed
      > .stub
        position: relative
