@require 'nib'
@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-header
  > .stub
    height: 260px
    position: absolute
    background: $grey100

  > .header
    display: flex
    height: 260px
    padding-left: 72px
    background: $teal500
    z-index: 1000
    position: relative

    > .hamburger
      position: fixed
      top: 0
      padding: 15px 10px
      margin-left: -72px

    > .title
      zp-font-display3()
      align-self: flex-end
      line-height: 80px
      padding-bottom: 60px
      color: $white
      transition: font-size 0.2s

  &.is-hamburger-hidden
    > .header
      > .hamburger
        display: none

  &.is-mini
    > .stub
      position: relative
      height: 260px

    > .header
      zp-shadow-1()
      width: 100%
      position: fixed
      height: 80px
      top: 0

      > .title
        zp-font-display1()
        padding-bottom: 0
        color: $white
