@require 'nib'
@require 'zorium-paper/base'
@require '../../../node_modules/highlight.js/styles/default.css'
@require '../../../node_modules/highlight.js/styles/monokai_sublime.css'

json('zorium-paper/colors.json')

.z-md
  h1
    margin-top: 26px

  .anchor
    // Padding for anchor tag
    padding-top: 200px
    margin-top: -200px
    display: block

  a
    font-weight: bold
    color: $blueGrey500

  pre
    zp-shadow-1()
    border-radius: 2px
    background: #23241f
    padding: 24px
    line-height: 20px
    color: $white
